@charset "utf-8";
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);
@import url(./fontello.css);

@import url(./normalize.css);

/* 기본박스 Sizing 재 설정 (width에 border-width와 padding을 포함하여 계산)*/
*, *::before, *::after {
    box-sizing: border-box;
}

/* 숨김콘텐츠 */
.a11y-hidden, legend {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    margin: -1px;
    clip: rect(0,0,0,0); 
    clip-path: polygon(0 0, 0 0, 0 0);
}

/* CSS Module */
/* Float 이슈를 해결하기 위한 CSS 선언 */
.clearfix::after {
    display: block;
    content: "";
    clear: both;
}
/* 기본설정 */
a {
    text-decoration: none;
    color: inherit;
}
html {
    font-size: 10px;
}
body {
    font-size: 1.4rem;
    color:#181818;
    background-color: #ccc;
    background-image: linear-gradient(180deg, #ccc 0%, #eee 30%, #fff 60%, #fff 100%);
    font-family: 'Spoqa Han Sans', 'Sans-serif';
    font-weight: 300;
}

.container  {
    background: url("./images/bg_flower.png") no-repeat 50% 0;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
}
.header, .visual, .main, .slogan, .footer {
    width: 940px;
    margin:0 auto;
}
.header {
    background-color: #fff;
    border-radius: 0 0 15px 15px;
    padding: 0 30px;
    position: relative;    
}

/* 로고 */
.logo {
    margin: 0;
    position: absolute;
    top: 45px;
    left: 60px;
}

/* 멤버 링크 */
.member {
    margin: 0;
    padding: 2px 0;
    list-style-type: none;
    text-align: right;
    font-size: 0;
    position: relative;
    right: -10px;
}
.member li, .member a {
    display: inline-block;
}
.member li {
    font-size: 1.4rem;
}
.member li:nth-child(n+2)::before {
    content: ":";
    margin: 0 2px;
}
.member a {
    text-transform: uppercase;
    padding: 8px 10px;
}
/* 메인메뉴 */
.navigation {
    padding-bottom: 50px;
}
.menu {
    height: 47px;
    list-style: none;
    padding-left: 229px;
    margin: 0;
    border-top:2px solid #000;
    /* box-shadow: 0 -2px 0 0 #000; */
    background: linear-gradient(to bottom, #e8852e 0%,#ed552f 35%,#ed552f 70%,#e8852e 100%);
    background-color: #ed552f;
}
.menu-item {
    outline: none;
    position: relative;
    float: left;
    border-left:2px solid rgba(255,255,255, .3);
}
.menu-button {
    display: block;
    color:#fff;
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 45px;
    padding: 0 20px;
    text-shadow: 1px 0 0 #000,
                -1px 0 0 #000,
                0 1px 0 #000,
                0 -1px 0 #000;
    cursor: pointer;
}
.menu-act .menu-button{
    color: #ff0;
}
.menu-act .menu-button::after {
    content: "";
    display: block;
    border-top:2px solid #000;
}
.submenu {
    position: absolute;
    list-style: none;
    padding-left: 0;
    margin: 0;
    display: none;
    white-space: nowrap;
    top: 47px;
}
.menu-act .submenu {
    display: block;
}
.menu li:nth-child(-n+3) .submenu {
    left: 0;
}
.menu li:nth-child(n+4) .submenu {
    right: 0;
}
.submenu li, .submenu a {
    display: inline-block;
}
.submenu a {
    padding: 8px 10px;
}

.visual {
    height: 120px;
    position: relative;
}
@keyframes bgAni {
    0% {opacity: 1;}
    100% {opacity: 0;}
}
.visual::before, .visual::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    animation: bgAni 2s infinite alternate;
}
.visual::before {
    background-image: url("./images/ani_flower_01.png"),
                      url("./images/ani_flower_02.png");
    background-position: 0 -10px, 670px 0;
}
.visual::after {
    background-image: url("./images/ani_flower_03.png"),
                      url("./images/ani_flower_04.png");
    background-position: 300px 0, 800px 0;
    animation-delay: 1s;
}

@keyframes textAni {
    0% {
        font-size: 12px;
        color:rgba(0,0,0,0);
        transform: translate(0, 0);
    }
    100% {
        font-size: 24px;
        color:rgba(0,0,0,1);
        transform: translate(400px, 75px);
    }
}
.visual-text {
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: inline-block;
    animation-name: textAni;
    animation-duration: 3000ms;
    animation-fill-mode: forwards;
    animation-delay: 1000ms;
    color: rgba(0,0,0,0);
}
.main {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    min-height: 450px;
    padding: 30px 15px;
    background-color: #fff;
    border-radius: 15px 15px 0 0;
}
.group {
    /* float:left;
    height: 60vh;
    margin: 0 15px; */
}
.group1 {
    width:250px;
}
.group2 {
    width:380px;
}
.group3 {
    width:190px;
}
/* 로그인 */
.login {
    background-color: #ed552f;
    background-image: radial-gradient(circle at right top, #e8852e, #ed552f);
    box-shadow: 5px 5px 0 0 #aaa;
    border-radius: 5px;
    padding: 10px;
}
.login-heading {
    margin: 0;
    font-size: 1.5rem;
    color: #ff0;
    text-indent: 10px;
}
.login-form {
    background-color: #fff;
    border-radius: 5px 5px 0 0;
    margin-top:10px;
    padding: 10px 10px 0 10px;
}
.login-form fieldset {
    border:0 none;
    margin: 0;
    padding: 0;
    padding-bottom: 5px;
    border-bottom: 1px solid #aaa;
    position: relative;
}
.user-email, .user-pw {
    margin-bottom: 5px;
}
.login-form label {
    width: 4em;
    display: inline-block;
}
.login-form input {
    width: 90px;
    height: 22px;
    border:1px solid #aaa;
    padding:1px 1px 1px 5px;
}
.btn-login {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    border:1px solid #ed552f;
    border-radius: 3px;
    background-color: #e8852e;
    color: #fff;
    padding: 0;
    font-size:1.3rem;
    font-weight: 400;
}

.sign {
    background-color: #fff;
    border-radius: 0 0 5px 5px;
    margin: 0;
    padding-left: 0;
    list-style: none;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding:2px 10px;
    font-size: 1.3rem;
}
.sign .icon-right-open::before {
    color: #ed552f;
    margin: 0;
}
.sign a {
    display: inline-block;
    padding:8px 0;
}

/* 유효성 검사 배너 */
.validation-list {
    margin: 25px 0 0 0;
    padding-left: 0;
    list-style: none;
}
.validation-list li a {
    display: block;
    border:1px solid #aaa;
    border-radius: 35px;
    margin-top:10px;
    padding: 7px 10px 8px 45px;
    background:
    url("./images/validation_icon.png") no-repeat 20px 50%,
    #ccc linear-gradient(180deg, #bbb, #eee);
}
/* 귤 ver
.validation-list {
    padding: 0;
    margin: 20px 0 10px;
    list-style: none;
}
.validation-list li {
    margin: 0 0 10px 0;
}
.validation-list a {
    display: block;
    padding: 6px 6px 6px 35px;
    background: 
    url("./images/validation_icon.png") no-repeat 10px 5px,
    linear-gradient(to bottom, #ccc, #eee );
    background-color: lightgray;
    border-radius: 20px;
    border:1px solid #aaa;
} */

/* 웹 관련 용어 */
.term {
    border: 1px solid #aaa;
    border-radius: 5px;
    margin-top:20px;
    padding: 15px;
    background: #ccc linear-gradient(180deg, #bbb, #eee);
}
.term-heading {
    margin: 0 0 15px 0;
    font-size:1.6rem;
}
.term-list {
    margin: 0;
}
.term-list div {
    margin-top: 15px;
}
.term-list dd {
    margin-left: 0;
}
.term-list-subject, .term-list-brief {
    width: 145px;
    float: right;
}
.term-list-subject {
    color: #296897;
    font-weight: 400;
}
.term-list-thumbnail {
    float: left;
}
.term-list-thumbnail img {
    vertical-align: top;
}
.term-list-brief {
    margin-top: 5px;
    line-height: 1.6;
}

.change-layout .term-list-subject, .change-layout .term-list-brief {
    float: left;
}
.change-layout .term-list-thumbnail {
    float: right;
}


/* 귤 ver
.term {
    border: 1px solid #aaa;
    background: linear-gradient(180deg, #bbb, #eee);
    border-radius: 5px;
    margin-top: 20px;
    padding: 15px;
}
.term-heading {
    font-size: 15px;
    margin: 0 0 15px 0;
}
.term-list, .term-list-thumbnail, .term-list-brief, .term-list-subject  {
    margin: 0;
    padding: 0;
}
.term-list-subject {
    float: right;
    width: 148px;
    margin-bottom: 5px;
    color: #296897;
}
.term-list-thumbnail, .term-list-brief {
    float: left;
}
.term-list-thumbnail {
    width: 60px;
    margin-right: 10px;
}
.term-list-brief {
    width: 148px;
    line-height: 1.2;
}
*/
/* 자료검색 */






/* 검색 폼 */
.search-form {
    border:1px solid #aaa;
    border-bottom-color: #fff;
    border-radius: 15px 15px 0 0;
    padding: 15px 25px 10px 25px;
    background: #ccc linear-gradient(180deg, #bbb, #eee);
}
.search-form fieldset {
    border: 0;
    margin: 0;
    padding: 0;
    
}
.test {
    border:1px solid #aaa;
    border-bottom-color: red;
    border-radius: 15px 15px 0 0;
    padding: 15px 25px 10px 25px;
    background: linear-gradient(180deg, #bbb, #eee);
    background-color: blue;
}

.search-form input[type="search"] {
    width: 200px;
    padding: 1px 1px 1px 0.5em;
    margin: 0 4px;
}
.search-form label, .search-form input, .btn-search {
    vertical-align: middle;
}
.search-form input[type="search"], .btn-search {
    height: 24px;
    border:1px solid #aaa;
    border-radius: 3px;
    
}
.btn-search {
    color: #fff;
    background-color: #333;
    padding: 0 5px;
    font-size: 1.2rem;
}
/* 
.search-form fieldset {
    border: 0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
.search-label {
    width: 50px;
    background-color: red;
}
.search {
    width: 50px;
    background-color:green;
}
.btn-search {
    width: 50px;
    background-color: blue;
} */

/* flex */
/* 귤 ver

.search-form {
    border-width: 1px 1px 0 1px;
    border-color: #aaa;
    border-style: solid;
    border-radius: 15px 15px 0 0;
    background: linear-gradient(180deg, #bbb, #eee);
    padding: 10px 15px;
}
.search fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}
.search-label::before {
    content: "\e802";
    display: inline-block;
}
.search-label {
    display: inline-block;
    padding-left: 20px;
}
.search {
    border:1px solid #ddd;
    border-radius: 5px;
    padding: 3px 5px;
}
.btn-search {
    border:1px solid #ddd;
    background: #333;
    color: #fff;
    padding: 2px 5px;
    border-radius: 5px;
} */

/* 공지사항 및 자료실 */
/* 선생님 버전1 
.board {
    position: relative;
    width: 380px;
    padding-top: 45px;
    background-color: yellow;
}
.notice-list, .notice-more, .pds-list, .pds-more {
    display: none;
}
.board-act .notice-list, .board-act .notice-more, .board-act .pds-list, .board-act .pds-more {
    display: block !important;
}
.tab {
    font-weight: 400;
    margin: 0;
    font-size:1.4rem;
    position: absolute;
    top: 0;
}
.notice-heading {
    left: 0;
}
.pds-heading {
    left: 74px;
}
.tab a {
    display: block;
    padding: 8px 10px;
    border:1px solid #aaa;
    border-radius: 5px 5px 0 0;
    color: #888;
    background: #ccc linear-gradient(180deg, #bbb, #eee);
}
.board-act .tab a {
    background: #fff;
    color: #ed552f;
    border-color: #ed552f #ed552f #fff #ed552f;
}

.notice-list, .pds-list {
    background-color: pink;
    margin: 0;
    padding: 0;
    list-style: none;

}
.notice-list li, .pds-list li {
    background-color: orange;
    margin-bottom: 8px;
    overflow: hidden;
}
.notice-list li::before, .pds-list li::before {
    float: left;
    background-color: tomato;
}
.notice-list a, .pds-list a {
    background-color: lime;
    float: left;
    width: 285px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.notice-list time, .pds-list time {
    background-color: skyblue;
    float: right;
}
.notice-more, .pds-more {
    position: absolute;
    top: -8px;
    right: -8px;
    padding: 8px;
}
.notice-more .icon-plus, .pds-more .icon-plus {
    color: hsla(110, 50%, 30%, 1);
}

/*
.board ul, .board a[class$="-more"] {

} /*속성 선택자
.board ul+a {

}
*/

/* 선생님 버전2 
.board {
    position: relative;
    width: 380px;
    padding-top: 45px;
}
.notice-list, .notice-more, .pds-list, .pds-more {
    display: none;
}
.board-act .notice-list, .board-act .notice-more, .board-act .pds-list, .board-act .pds-more {
    display: block !important;
}
.tab {
    font-weight: 400;
    margin: 0;
    font-size:1.4rem;
    position: absolute;
    top: 0;
}
.notice-heading {
    left: 0;
}
.pds-heading {
    left: 74px;
}
.tab a {
    display: block;
    padding: 8px 10px;
    border:1px solid #aaa;
    border-radius: 5px 5px 0 0;
    color: #888;
    background: #ccc linear-gradient(180deg, #bbb, #eee);
}
.board-act .tab a {
    background: #fff;
    color: #ed552f;
    border-color: #ed552f #ed552f #fff #ed552f;
}

.notice-list, .pds-list {
    margin: 0;
    padding: 0;
    list-style: none;

}
.notice-list li, .pds-list li {
    margin-bottom: 8px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
.notice-list li::before, .pds-list li::before {
}
.notice-list a, .pds-list a {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.notice-list time, .pds-list time {
    margin-left: auto;
}
.notice-more, .pds-more {
    position: absolute;
    top: -8px;
    right: -8px;
    padding: 8px;
}
.notice-more .icon-plus, .pds-more .icon-plus {
    color: hsla(110, 50%, 30%, 1);
}
*/


/* 선생님 버전3 마크업이 다름*/
.board {
    position: relative;
    width: 380px;
    margin-top: 15px;
}

.tab {
    font-weight: 400;
    margin: 0;
    font-size:1.4rem;
    position: absolute;
    top: 0;
}
.notice-heading {
    left: 0;
}
.pds-heading {
    left: 74px;
}
.tab a {
    display: block;
    padding: 8px 10px;
    border:1px solid #aaa;
    border-radius: 5px 5px 0 0;
    color: #888;
    background: #ccc linear-gradient(180deg, #bbb, #eee);
}
.board-act .tab a {
    background: #fff;
    color: #ed552f;
    border-color: #ed552f #ed552f #fff #ed552f;
}

.notice-list, .pds-list {
    margin: 0;
    padding: 0;
    list-style: none;

}
.notice-list li, .pds-list li {
    margin-bottom: 8px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
.notice-list a, .pds-list a {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.notice-list time, .pds-list time {
    margin-left: auto;
}
.notice-more, .pds-more, .news-more, .favorite-more {
    position: absolute;
    top: -8px;
    right: -8px;
    padding: 8px;
}
.notice-more .icon-plus, .pds-more .icon-plus, .news-more .icon-plus, .favorite-more .icon-plus {
    color: hsla(110, 50%, 30%, 1);
}
.board {
}
.board div ul, .board div ul+a {
    display: none;
}
.section-act ul, .section-act ul+a {
    display: block !important;
} 
.tab-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-flow: row nowrap;
    margin-bottom: 20px;
}
.tab-list [role="tab"] {
    border:1px solid #aaa;
    border-radius: 5px 5px 0 0;
    padding: 8px 10px;
    color: #888;
    background: #eee;
    cursor: pointer;
}
.tab-list [aria-selected="true"] {
    background: #fff;
    border-color: orangered orangered white orangered;
    color: orangered;
}

/* 귤 ver 
.board {
    background-color: yellow;
    width: 380px;
    position: relative;
    padding-top: 32px;
}
.notice, .pds {
    background-color: rgba(0,0,0,.5);
}
.notice-heading, .pds-heading {
    margin: -32px 0 0 0;
    background-color: greenyellow;
}
.notice-heading a, .pds-heading a {
    display: block;
    width: 72px;
    border-radius: 5px 5px 0 0;
    font-size: 1.4rem;
    text-align: center;
    padding: 8px 0;
    background-color: red;
}
.notice-list, .pds-list {
    display: none;
    background-color: lightblue;
}
.notice-list.board-act, .pds-list.board-act {
    display: block;
}
.notice-list li, .pds-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top:10px;
}
.notice-list li a, .pds-list li a {
    width: 270px;
}
.notice-list li time, .pds-list li time {
    width: 80px;
}
.pds {

}
.pds-heading {
    margin-left: 72px;
}
.notice-list, .pds-list {
    margin: 0;
    padding: 0;
    list-style: none;
}
.notice-more, .pds-more {
    position: absolute;
    top: -32px;
    right: 0;
} */
/*  귤 ver 2  마크업이 다름     
        .tab-list {
            margin: 0 0 15px 0;
            padding: 0;
            list-style: none;
            font-size: 0;
        }
        .tab-list li {
            display: inline-block;
            padding: 8px 10px;
            border:1px solid #aaa;
            border-radius: 5px 5px 0 0;
            color: #888;
            background: #ccc linear-gradient(180deg, #bbb, #eee);
            cursor: pointer;
            font-size: 1.4rem;
        }
        .tab-list li[aria-selected="true"] {
            background: #fff;
            color: #ed552f;
            border-color: #ed552f #ed552f #fff #ed552f;
        }
        */

/* 새소식 */

/* 강사님 ver */
.news {
    position: relative;
}
.news::before {
    content: "";
    position: absolute;
    top: 35px;
    left: 0;
    background: #ccc linear-gradient(90deg, #bbb, #fff);
    width: 80%;
    height: 1px;
}
.news-heading {
    color: #ed552f;
    font-size: 1.5rem;
    margin: 0 0 35px 0;
}
.news-link {
    display: block;
}
.news-item {
    position: relative;
    padding-left: 125px;
    min-height: 100px;
}
.news-item-subject {
    margin: 0 0 5px;
    font-size: 1.4rem;
    font-weight: 400;
}
.news-item-brief {
    margin: 10px 0 0 0;
    line-height: 1.6;
}
.news-item-thumbnail {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    text-align: center;
}
.news-item-thumbnail img {
    box-shadow: 0 15px 20px 2px #aaa;
    /* x값  y값 블러 사이즈 */
    display: block;
    margin-bottom: 15px;
}



/* 귤 ver  
.news {
    position: relative;
}
.news-heading {
    font-size:15px;
    color: #ed552f;
}
.news-item-subject {
    float: right;
    width: 250px;
    margin: 0;
    font-size: 14px;
}
.news-item-date {
    float: right;
    width: 250px;
    margin-bottom: 10px;
}
.news-item-brief {
    float: right;
    width: 250px;
    margin: 0;
}
.news-item-thumbnail {
    width: 112px;
    margin: 0;
    text-align: center;
}
.news-item-thumbnail img {
    box-shadow: 0 5px 10px 2px rgba(0,0,0,.5);
}
.news-item-thumbnail figcaption {
    margin-top: 15px;
}
 */

 /* 신규 이벤트 및 관련 사이트 */
 /* 강사님 ver */
 .gradiend-box {
    border: 1px solid #aaa;
    border-radius: 5px;
    background:#ccc linear-gradient(180deg, #bbb, #eee);
    padding: 10px;
 }
 .point-color {
    color: #ed552f;
}
.event {
    position: relative;
    border-bottom: 1px solid #777;
}
.event-heading {
    margin: 0 0 10px 0;
    font-size: 1.5rem;
}
.event-thumbnail, .event-brief {
    margin: 10px 0;
}
.event-thumbnail img {
    box-shadow: 5px 5px 0 0 #999;
    border:1px solid #777;
}
.btn-event {
    position: absolute;
    top: 0;
    right: 0;
}  
.btn-event-prev, .btn-event-next {
   display: inline-block;
   width: 19px;
   height: 18px;
   border: none;
   padding: 18px 0 0 0;
   background-image: url(./images/back_forward.png);
   overflow: hidden;
   cursor: pointer;
}
.btn-event-prev {
    background-position: left center;
}
.btn-event-next {
   background-position: right center
}

/* 귤 ver
 .gradiend-box {
    border:1px solid #aaa;
    border-radius: 5px;
    background: #ccc linear-gradient(180deg, #bbb, #eee);
    padding: 15px 10px;
 }
 .event {
     position: relative;
     border-bottom: 1px solid #999;
 }
 .event-heading {
     font-size:15px;
     margin: 0;
 }
 .point-color {
     color: #ed552f;
 }
 .event-thumbnail {
     width: 162px;
     border:1px solid #999;
     margin: 15px auto 0;
     box-shadow: 5px 5px 0 0 #aaa;
 }
 .event-thumbnail img {
     vertical-align: top;
 }
 .btn-event {
     position: absolute;
     top: 0;
     right: 0;
 }  
 .btn-event-prev, .btn-event-next {
    display: inline-block;
    width: 19px;
    height: 18px;
    border: none;
    padding: 18px 0 0 0;
    background-image: url(./images/back_forward.png);
    overflow: hidden;
 }
 .btn-event-prev {
     background-position: left center;
 }
 .btn-event-next {
    background-position: right center
} */



/* 관련사이트 */


/* 선생님 ver */
.related-heading, .favorite-heading {
    font-size:15px;
    margin: 0;
}
.related {
    padding-top: 10px;
}
.related-list {
    border: 1px solid #888;
    border-radius: 5px;
    background: #fff;
    margin: 10px 0 0 0;
    padding-left: 0;
    list-style: none;
    height: 27px;
    overflow: hidden;
    transition-property: height, padding;
    transition-duration: 400ms;
    transition-delay: 200ms, 0ms;
    transition-timing-function: ease-in-out;
}
.related-list li {
    height: 27px;
    padding: 2px;
}
.related-list a {
    display: block;
    line-height: 25px;
    text-indent: 1em;
}
.related-list:hover, .related-list:focus {
    height: 147px;
    padding: 5px 0;
}

/* 귤 ver
.related-list {
    margin: 0;
    padding: 0;
    list-style: none;
    background: #fff;
    border:1px solid #999;
    border-radius: 5px;
    overflow: hidden;
    height: 27px;
    transition: all 4s;
}
.related-list:hover {
    height: 147px;
    padding: 10px 0;
}
.related-list a {
    display: block;
    padding: 5px; 귤 ver
}
.related-list:hover a:hover {
    background-color: red;
} */

/* 인기사이트 */



/* 선생님 ver */

.favorite {
    margin-top: 20px;
    position: relative;
}
.favorite-list {
    margin: 0;
    padding: 0;
    list-style: none;
}
.favorite-list li {
    /* position: relative; */
    counter-increment:number;
    line-height: 1.5;
    margin-top: 5px;
    font-size: 1.4rem;
    display: flex;
    align-items: center;
}
.favorite-list li::before {
    content: counter(number);
    /* content:attr(class); */
    color: #fff;
    background: #888;
    border-radius: 2px;
    padding: 2px 10px;
    margin-right: 5px;
    display: inline-block;
    font-size: 1.2rem;
    vertical-align: middle;
}
/* .favorite-list li * {
    vertical-align: middle;
} */
.favorite-list a {
    flex-grow: 1;
    margin-right: 5px;
}
.favorite-list em {
    /* position: absolute; */
    top: 50%;
    right: 0;
    /* margin-top: -5px; */
    display: inline-block;
    width:9px;
    height: 11px;
    padding-top: 9px;
    overflow: hidden;
    background: url("./images/rank.png") no-repeat;
}
.favorite-list .stop {
    background-position: 0 50%;
}
.favorite-list .down {
    background-position: 0 100%;
}
.favorite-more {
    position: absolute;
    top: 2px;
    right: 2px;
    padding:8px;
}
/* 귤 ver
.favorite {
    position: relative;
}
.favorite-list {
    margin: 0;
    padding: 0;
    list-style: none;    
}

.favorite-list li {
    font-size: 14px;
    position: relative;
    margin: 5px 0;
}
.favorite-list li::before {
    display: inline-block;
    width: 17px;
    height: 18px;
    background: #999;
    border-radius: 3px;
    text-align: center;
    color: #fff;
    margin-right: 3px;
}
.favorite-list li.no1::before {
    content: "1";
}
.favorite-list li.no2::before {
    content: "2";
}
.favorite-list li.no3::before {
    content: "3";
}
.favorite-list li.no4::before {
    content: "4";
}
.favorite-list em {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    display: inline-block;
    width: 9px;
    height: 11px;
    margin: auto 0 ;
    overflow: hidden;
    padding-left: 9px;
    background-image: url("./images/rank.png");
    background-repeat: no-repeat;
}
.favorite-list em.down {
    background-position: 0 -45px;
}
.favorite-list em.stop {
    background-position: 0 -22px;
}
.favorite-more {
    position: absolute;
    top: 0;
    right: 0;
} */

/* 슬로건 */

/* 선생님 ver */
.slogan {
    background-color: #fff;
    padding: 10px 80px 10px 200px;
    position: relative;
}
.slogan-heading {
    margin: 0;
    width: 110px;
    height: 83px;
    position: absolute;
    left: 50px;
    bottom: -25px;
    text-align: center;
    font-size: 1.4rem;
    line-height: 83px;
}
.bg-slogan {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url("./images/coffee.png") no-repeat;
}
.slogan-content {
    color: #a09784;
    font-size: 1.5rem;
}
.slogan-content q {
    /* quotes: "[[" "]]"; */
}
.slogan-content q::before {
    font-size:3.5rem;
    position: relative;
    top: 10px;
}
.slogan-content q::after {
    content: "";
}
.slogan-content em {
    font-style: normal;
}
/* 
귤 ver
.slogan {
 background: #fff;
 height: 10vh;
 margin-bottom: -15px;
}
.slogan-heading {
    position: relative;
    float: left;
    margin: 0 15px 0 0;
}
.bg-slogan {
    position: absolute;
    background: url("./images/coffee.png") no-repeat;
    width: 110px;
    height: 83px;
    display: block;
}
.txt-slogan {
    width: 110px;
    height: 83px;
    display: block;
    text-align: center;
    padding-top: 20px;
}
.slogan-content {
    margin: 0;
    width: 810px;
}
.slogan-content q::before {
    font-size:3rem;
    font-weight: 700;
    color: #999;
}
.slogan-content q::after {
    display: none;
}
.slogan-content em {
    font-style: normal;
}
 */

/* 푸터 */
.footer-bg {
    background-color: #ccc;
    background-image: linear-gradient(180deg, #ccc 0%, #eee 30%, #fff 60%, #fff 100%);
    /* display: flex;
    flex-direction: row;
    justify-content: center; */
}



/* 선생님 ver */
.footer {
    padding: 15px 0;
    display: grid;
    grid-template-columns: 150px 1fr 100px;
    grid-template-rows: 50px 25px 25px;
}
.footer-logo {
    grid-area: 1/1/4/2;
    justify-self: center;
    align-self: center;
}
.guide-list {
    grid-area: 1/2/2/3;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    background: #7b8385;
    color: #fff;
    justify-content: space-between;
    padding: 8px 30px;
    margin:5px 0;
    border-radius: 50px;
    align-items: center;
    text-transform: uppercase;
}
.address {
    grid-area: 2/2/3/3;
    font-style: normal;
    align-self: center;
}
.copyright {
    grid-area: 3/2/4/3;
    align-self: center;
}
.badge {
    grid-area: 1/3/4/4;
    justify-self: right;
    align-self: center;
}

/* 
귤 ver
.footer {
    padding: 20px 130px 20px 200px;
    position: relative;
}
.footer-logo {
    position: absolute;
    display: block;
    width: 100px;
    height: 20px;
    left: 55px;
    top: 30px;
}
.guide-list {
    display: flex;
    margin: 0 0 10px;
    padding: 0 15px;
    list-style: none;
    background: #7b8385;
    border-radius: 10px;
    justify-content: space-between;
}
.guide-list li {
    display: inline-block;
    margin: 0 3px;
}
.guide-list a {
    display: block;
    color: #fff;
    padding: 10px;
    text-transform: uppercase;
}
.address {
    font-style: normal;
}
.address span {
    display: inline-block;
    margin: 0 5px;
}
.copyright {
    display: block;
    padding: 5px 0 0 5px;
    font-size: 1.4rem;
}
.badge {
    position: absolute;
    right: 30px;
    top: 20px;
} */

